body * {
    box-sizing: border-box;
}

nav > a {
    padding: 5px 10px;
    background-color: #d0ff00;
    text-decoration: none;
}

nav > a:hover {
    background-color: #f00;
    color: #fff;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #70acff;
}